* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    position: relative;
    z-index: 1000;
    font: bold;
    text-align: center;
    margin-top: 50px;
    color: #af40c6;
}

#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( #f7ff00,#db36a4) ;
}